In [1]:
import pandas as pd

## Parse and clean

If your solution requires additional libraries, environments, or dependencies, you must specify these in your README documentation. See the figure below for the required structure of the top-most directory in your repo, or simply clone this repo.

Links:
1. Clear iPython vars: https://stackoverflow.com/questions/22934204/how-to-clear-variables-in-ipythonS
2. Running median for static array: https://www.youtube.com/watch?v=VmogG01IjYc

Possible optimizations:
1. Reading data in chunks: http://pandas-docs.github.io/pandas-docs-travis/io.html#iterating-through-files-chunk-by-chunk
2. Parent link for point 1: https://stackoverflow.com/questions/14262433/large-data-work-flows-using-pandas
3. Running median for streaming chunks of data: https://stackoverflow.com/questions/10657503/find-running-median-from-a-stream-of-integers

In [2]:
# Read in header file
column_names = pd.read_csv(filepath_or_buffer='./indiv_header_file.csv')
print(column_names)

Empty DataFrame
Columns: [CMTE_ID, AMNDT_IND, RPT_TP, TRANSACTION_PGI, IMAGE_NUM, TRANSACTION_TP, ENTITY_TP, NAME, CITY, STATE, ZIP_CODE, EMPLOYER, OCCUPATION, TRANSACTION_DT, TRANSACTION_AMT, OTHER_ID, TRAN_ID, FILE_NUM, MEMO_CD, MEMO_TEXT, SUB_ID]
Index: []

[0 rows x 21 columns]

In [3]:
# Read in input file, attach header for column names
itcont_df = pd.read_csv(filepath_or_buffer='../input/itcont.txt', sep='|', header=None, names=list(column_names))
print(itcont_df.head())

     CMTE_ID AMNDT_IND RPT_TP TRANSACTION_PGI           IMAGE_NUM  \
0  C00629618         N    TER               P  201701230300133512
1  C00177436         N     M2               P  201702039042410894
2  C00384818         N     M2               P  201702039042412112
3  C00177436         N     M2               P  201702039042410893
4  C00177436         N     M2               P  201702039042410895

  TRANSACTION_TP ENTITY_TP                 NAME              CITY STATE  \
0            15C       IND        PEREZ, JOHN A       LOS ANGELES    CA
1             15       IND    DEEHAN, WILLIAM N        ALPHARETTA    GA
2             15       IND       ABBOTT, JOSEPH        WOONSOCKET    RI
3             15       IND      SABOURIN, JAMES  LOOKOUT MOUNTAIN    GA
4             15       IND  JEROME, CHRISTOPHER          FALMOUTH    ME

          ...             EMPLOYER                     OCCUPATION  \
0         ...            PRINCIPAL         DOUBLE NICKEL ADVISORS
1         ...                 UNUM                 SVP, SALES, CL
2         ...           CVS HEALTH        VP, RETAIL PHARMACY OPS
3         ...                 UNUM  SVP, CORPORATE COMMUNICATIONS
4         ...                 UNUM           EVP, GLOBAL SERVICES

  TRANSACTION_DT  TRANSACTION_AMT   OTHER_ID            TRAN_ID FILE_NUM  \
0        1032017               40  H6CA34245      SA01251735122  1141239
1        1312017              384        NaN    PR2283873845050  1147350
2        1122017              250        NaN  2017020211435-887  1147467
3        1312017              230        NaN    PR1890575345050  1147350
4        1312017              384        NaN    PR2283905245050  1147350

   MEMO_CD                          MEMO_TEXT               SUB_ID
0      NaN                                NaN  2012520171368850783
1      NaN  P/R DEDUCTION ($192.00 BI-WEEKLY)  4020820171370029337
2      NaN                                NaN  4020820171370030285
3      NaN  P/R DEDUCTION ($115.00 BI-WEEKLY)  4020820171370029335
4      NaN  P/R DEDUCTION ($192.00 BI-WEEKLY)  4020820171370029342

[5 rows x 21 columns]

In [4]:
relevant_column_names = ['CMTE_ID', 'ZIP_CODE', 'TRANSACTION_DT', 'TRANSACTION_AMT', 'OTHER_ID'];

In [5]:
# Drop irrelevant columns
itcont_df = itcont_df[relevant_column_names]
print(itcont_df.head())

     CMTE_ID   ZIP_CODE  TRANSACTION_DT  TRANSACTION_AMT   OTHER_ID
0  C00629618      90017         1032017               40  H6CA34245
1  C00177436  300047357         1312017              384        NaN
2  C00384818   28956146         1122017              250        NaN
3  C00177436  307502818         1312017              230        NaN
4  C00177436   41051896         1312017              384        NaN

In [6]:
# Remove entries w/OTHER_ID set
itcont_df = itcont_df[pd.isnull(itcont_df['OTHER_ID'])]
print(itcont_df)

     CMTE_ID   ZIP_CODE  TRANSACTION_DT  TRANSACTION_AMT OTHER_ID
1  C00177436  300047357         1312017              384      NaN
2  C00384818   28956146         1122017              250      NaN
3  C00177436  307502818         1312017              230      NaN
4  C00177436   41051896         1312017              384      NaN
5  C00384818   28956146         1122017              333      NaN
6  C00177436   41051935         1312017              384      NaN